<html>
  <head>
    <title>Classroom</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link type="image/png" rel="icon" href="https://ssl.gstatic.com/classroom/favicon.png">
    <style>
      body {
        background-color: #101010;
      }
    </style>
  </head>
  <body>
    
    <hr/>
    <h1>Welcome to Cool Games home page</h1>
    <p>Click next game or set a game id to play something.</p>
    <hr/>
    <img style="width:200px;height:200px; border-radius:10px;" src="https://cdn.glitch.com/a0e95398-9276-4d65-b1ad-163ce4e927a2%2Felepant.jpeg?v=1615219507643">
    
  </body>
</html>