<html>
  <head>
    <title>sus</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="image/png" rel="icon" href="https://ssl.gstatic.com/classroom/favicon.png">
    <link rel="stylesheet" href="style.css">
    <script src="jquery.js"></script>
    <script src="updater.js"></script>
  </head>
  <body style="border: solid red 5px; margin 10px;">
    <script>
    createDialog("Sus alert!","You have been pretty sussy! Imposter!!!<br/>You are so sussy!!!!!!<br/>Imposter is being sussy please evacuate!! Impersonator is showing some skeptical behaivor!! He took my 19 dollar fortnite card susss1!! imposter..1.11?@!3")
    console.error("sussy!!");
      
    var audio = new Audio()
    audio.src="https://cdn.glitch.com/a0e95398-9276-4d65-b1ad-163ce4e927a2%2FNuclear%20Alarm%20(EAR%20RAPE).mp3?v=1618358794763";
    
    document.body.addEventListener("click", ()=>{
      audio.play();
    })
    </script>
    
    <img src="https://cdn.glitch.com/a0e95398-9276-4d65-b1ad-163ce4e927a2%2FScreenshot%202021-04-13%2012.59.47%20PM.png?v=1618343262642" style="display:flex; justify-content:center; width:100%; height:100%;">
    <hr/>
  </body>
</html>