<html>
  <head>
    <title>Pearson Realize</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link type="image/png" rel="icon" href="https://www.savvasrealize.com/favicon/favicon.png?v=1529606102398">
    <script src="jquery.js"></script>
    <script src="updater.js"></script>
  </head>
  <body>
    
    <h1>Pearson Realize</h1>
    <a href="/">Main Page</a><br/>
    <a href="/qc.html">Quick Chat</a>
    <hr/>
    <br/>
    <iframe id="game_frame" class="fullscreen" style="resize:both;" allowfullscreen="true" src="https://pearsonrealize.com/"></iframe>
    <iframe id="chat_frame" style="resize:both; width:700px; height:700px;" allowfullscreen="true" src="https://chatquick.glitch.me/"></iframe>
    
  </body>
</html>