<html>
  <head>
    <title>Classroom</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link type="image/png" rel="icon" href="https://ssl.gstatic.com/classroom/favicon.png">
    <script src="qc/script.js"></script>
  </head>
  <body>
    
    <h1>Sus</h1>
    <a href="/">Main Page</a>
    <hr/>
    <br/>
    
    <div class="video">
      <video width="320" height="240" controls>
        <source src="https://cdn.glitch.com/a0e95398-9276-4d65-b1ad-163ce4e927a2%2Fcumsus.mp4?v=1617847671550" type="video/mp4">
        Your browser does not support the video tag.
      </video>
      <p>Weird Video</p>
    </div>
    
  </body>
</html>