.popover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1010;
  display: none;
  max-width: 276px;
  padding: 1px;
  text-align: left;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  white-space: normal;
}
.popover.top {
  margin-top: -10px;
}
.popover.right {
  margin-left: 10px;
}
.popover.bottom {
  margin-top: 10px;
}
.popover.left {
  margin-left: -10px;
}
.popover-title {
  margin: 0;
  padding: 8px 14px;
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ebebeb;
  border-radius: 5px 5px 0 0;
}
.popover-content {
  padding: 9px 14px;
}
.popover > .arrow,
.popover > .arrow:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.popover > .arrow {
  border-width: 11px;
}
.popover > .arrow:after {
  border-width: 10px;
  content: "";
}
.popover.top > .arrow {
  left: 50%;
  margin-left: -11px;
  border-bottom-width: 0;
  border-top-color: #999;
  border-top-color: rgba(0, 0, 0, 0.25);
  bottom: -11px;
}
.popover.top > .arrow:after {
  content: " ";
  bottom: 1px;
  margin-left: -10px;
  border-bottom-width: 0;
  border-top-color: #fff;
}
.popover.right > .arrow {
  top: 50%;
  left: -11px;
  margin-top: -11px;
  border-left-width: 0;
  border-right-color: #999;
  border-right-color: rgba(0, 0, 0, 0.25);
}
.popover.right > .arrow:after {
  content: " ";
  left: 1px;
  bottom: -10px;
  border-left-width: 0;
  border-right-color: #fff;
}
.popover.bottom > .arrow {
  left: 50%;
  margin-left: -11px;
  border-top-width: 0;
  border-bottom-color: #999;
  border-bottom-color: rgba(0, 0, 0, 0.25);
  top: -11px;
}
.popover.bottom > .arrow:after {
  content: " ";
  top: 1px;
  margin-left: -10px;
  border-top-width: 0;
  border-bottom-color: #fff;
}
.popover.left > .arrow {
  top: 50%;
  right: -11px;
  margin-top: -11px;
  border-right-width: 0;
  border-left-color: #999;
  border-left-color: rgba(0, 0, 0, 0.25);
}
.popover.left > .arrow:after {
  content: " ";
  right: 1px;
  border-right-width: 0;
  border-left-color: #fff;
  bottom: -10px;
}
.nav {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
.nav > li {
  position: relative;
  display: block;
}
.nav > li > a {
  position: relative;
  display: block;
  padding: 10px 15px;
}
.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: #eee;
}
.nav > li.disabled > a {
  color: #999;
}
.nav > li.disabled > a:hover,
.nav > li.disabled > a:focus {
  color: #999;
  text-decoration: none;
  background-color: transparent;
  cursor: not-allowed;
}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  background-color: #eee;
  border-color: #428bca;
}
.nav .nav-divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}
.nav > li > a > img {
  max-width: none;
}
.nav-tabs {
  border-bottom: 1px solid #ddd;
}
.nav-tabs > li {
  float: left;
  margin-bottom: -1px;
}
.nav-tabs > li > a {
  margin-right: 2px;
  line-height: 1.42857143;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
}
.nav-tabs > li > a:hover {
  border-color: #eee #eee #ddd;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: #7b7b7b;
  background-color: #fff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
  cursor: default;
}
.nav-tabs.nav-justified {
  width: 100%;
  border-bottom: 0;
}
.nav-tabs.nav-justified > li {
  float: none;
}
.nav-tabs.nav-justified > li > a {
  text-align: center;
  margin-bottom: 5px;
}
.nav-tabs.nav-justified > .dropdown .dropdown-menu {
  top: auto;
  left: auto;
}
@media (min-width: 768px) {
  .nav-tabs.nav-justified > li {
    display: table-cell;
    width: 1%;
  }
  .nav-tabs.nav-justified > li > a {
    margin-bottom: 0;
  }
}
.nav-tabs.nav-justified > li > a {
  margin-right: 0;
  border-radius: 4px;
}
.nav-tabs.nav-justified > .active > a,
.nav-tabs.nav-justified > .active > a:hover,
.nav-tabs.nav-justified > .active > a:focus {
  border: 1px solid #ddd;
}
@media (min-width: 768px) {
  .nav-tabs.nav-justified > li > a {
    border-bottom: 1px solid #ddd;
    border-radius: 4px 4px 0 0;
  }
  .nav-tabs.nav-justified > .active > a,
  .nav-tabs.nav-justified > .active > a:hover,
  .nav-tabs.nav-justified > .active > a:focus {
    border-bottom-color: #fff;
  }
}
.nav-pills > li {
  float: left;
}
.nav-pills > li > a {
  border-radius: 4px;
}
.nav-pills > li + li {
  margin-left: 2px;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: #fff;
  background-color: #428bca;
}
.nav-stacked > li {
  float: none;
}
.nav-stacked > li + li {
  margin-top: 2px;
  margin-left: 0;
}
.nav-justified {
  width: 100%;
}
.nav-justified > li {
  float: none;
}
.nav-justified > li > a {
  text-align: center;
  margin-bottom: 5px;
}
.nav-justified > .dropdown .dropdown-menu {
  top: auto;
  left: auto;
}
@media (min-width: 768px) {
  .nav-justified > li {
    display: table-cell;
    width: 1%;
  }
  .nav-justified > li > a {
    margin-bottom: 0;
  }
}
.nav-tabs-justified {
  border-bottom: 0;
}
.nav-tabs-justified > li > a {
  margin-right: 0;
  border-radius: 4px;
}
.nav-tabs-justified > .active > a,
.nav-tabs-justified > .active > a:hover,
.nav-tabs-justified > .active > a:focus {
  border: 1px solid #ddd;
}
@media (min-width: 768px) {
  .nav-tabs-justified > li > a {
    border-bottom: 1px solid #ddd;
    border-radius: 4px 4px 0 0;
  }
  .nav-tabs-justified > .active > a,
  .nav-tabs-justified > .active > a:hover,
  .nav-tabs-justified > .active > a:focus {
    border-bottom-color: #fff;
  }
}
.tab-content > .tab-pane {
  display: none;
}
.tab-content > .active {
  display: block;
}
.nav-tabs .dropdown-menu {
  margin-top: -1px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px solid;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}
.dropdown {
  position: relative;
}
.dropdown-toggle:focus {
  outline: 0;
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  -moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
}
.dropdown-menu.pull-right {
  right: 0;
  left: auto;
}
.dropdown-menu .divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}
.dropdown-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  text-decoration: none;
  color: #262626;
  background-color: #f5f5f5;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  color: #fff;
  text-decoration: none;
  outline: 0;
  background-color: #428bca;
}
.dropdown-menu > .disabled > a,
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  color: #999;
}
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  text-decoration: none;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  cursor: not-allowed;
}
.open > .dropdown-menu {
  display: block;
}
.open > a {
  outline: 0;
}
.dropdown-menu-right {
  left: auto;
  right: 0;
}
.dropdown-menu-left {
  left: 0;
  right: auto;
}
.dropdown-header {
  display: block;
  padding: 3px 20px;
  font-size: 12px;
  line-height: 1.42857143;
  color: #999;
}
.dropdown-backdrop {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 990;
}
.pull-right > .dropdown-menu {
  right: 0;
  left: auto;
}
.dropup .caret,
.navbar-fixed-bottom .dropdown .caret {
  border-top: 0;
  border-bottom: 4px solid;
  content: "";
}
.dropup .dropdown-menu,
.navbar-fixed-bottom .dropdown .dropdown-menu {
  top: auto;
  bottom: 100%;
  margin-bottom: 1px;
}
@media (min-width: 768px) {
  .navbar-right .dropdown-menu {
    left: auto;
    right: 0;
  }
  .navbar-right .dropdown-menu-left {
    left: 0;
    right: auto;
  }
}
.modal-open {
  overflow: hidden;
}
.modal {
  display: none;
  overflow: auto;
  overflow-y: scroll;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}
.modal.fade .modal-dialog {
  -webkit-transform: translate(0, -25%);
  -ms-transform: translate(0, -25%);
  transform: translate(0, -25%);
  -webkit-transform: translate(0 -25%);
  -moz-transform: translate(0 -25%);
  -ms-transform: translate(0 -25%);
  -o-transform: translate(0 -25%);
  transform: translate(0 -25%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -moz-transition: -moz-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}
.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transform: translate(0 0);
  -moz-transform: translate(0 0);
  -ms-transform: translate(0 0);
  -o-transform: translate(0 0);
  transform: translate(0 0);
}
.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
}
.modal-content {
  position: relative;
  background-color: #fff;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  background-clip: padding-box;
  outline: none;
}
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000;
}
.modal-backdrop.fade {
  opacity: 0;
  filter: alpha(opacity=0);
}
.modal-backdrop.in {
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.modal-header {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
  min-height: 16.42857143px;
}
.modal-header .close {
  margin-top: -2px;
}
.modal-title {
  margin: 0;
  line-height: 1.42857143;
}
.modal-body {
  position: relative;
  padding: 20px;
}
.modal-footer {
  margin-top: 15px;
  padding: 19px 20px 20px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}
.modal-footer .btn + .btn {
  margin-left: 5px;
  margin-bottom: 0;
}
.modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}
.modal-footer .btn-block + .btn-block {
  margin-left: 0;
}
@media (min-width: 768px) {
  .modal-dialog {
    width: 600px;
    margin: 30px auto;
  }
  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }
  .modal-sm {
    width: 300px;
  }
}
@media (min-width: 992px) {
  .modal-lg {
    width: 900px;
  }
}
@font-face {
  font-family: "cabinbold";
  src: url("../application/fonts/cabin-bold-webfont.eot");
  src: url("../application/fonts/cabin-bold-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../application/fonts/cabin-bold-webfont.woff") format("woff"),
    url("../application/fonts/cabin-bold-webfont.ttf") format("truetype"),
    url("../application/fonts/cabin-bold-webfont.svg#cabinbold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "cabinitalic";
  src: url("../application/fonts/cabin-italic-webfont.eot");
  src: url("../application/fonts/cabin-italic-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../application/fonts/cabin-italic-webfont.woff") format("woff"),
    url("../application/fonts/cabin-italic-webfont.ttf") format("truetype"),
    url("../application/fonts/cabin-italic-webfont.svg#cabinitalic")
      format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "cabinregular";
  src: url("../application/fonts/cabin-regular-webfont.eot");
  src: url("../application/fonts/cabin-regular-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../application/fonts/cabin-regular-webfont.woff") format("woff"),
    url("../application/fonts/cabin-regular-webfont.ttf") format("truetype"),
    url("../application/fonts/cabin-regular-webfont.svg#cabinregular")
      format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "cabinsemibold";
  src: url("../application/fonts/cabin-semibold-webfont.eot");
  src: url("../application/fonts/cabin-semibold-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../application/fonts/cabin-semibold-webfont.woff") format("woff"),
    url("../application/fonts/cabin-semibold-webfont.ttf") format("truetype"),
    url("../application/fonts/cabin-semibold-webfont.svg#cabinsemibold")
      format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "cabinsemibold_italic";
  src: url("../application/fonts/cabin-semibolditalic-webfont.eot");
  src: url("../application/fonts/cabin-semibolditalic-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../application/fonts/cabin-semibolditalic-webfont.woff") format("woff"),
    url("../application/fonts/cabin-semibolditalic-webfont.ttf")
      format("truetype"),
    url("../application/fonts/cabin-semibolditalic-webfont.svg#cabinsemibold_italic")
      format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "museo_slab_500italic";
  src: url("../application/fonts/museo_slab_500italic-webfont.eot");
  src: url("../application/fonts/museo_slab_500italic-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../application/fonts/museo_slab_500italic-webfont.woff") format("woff"),
    url("../application/fonts/museo_slab_500italic-webfont.ttf")
      format("truetype"),
    url("../application/fonts/museo_slab_500italic-webfont.svg#museo_slab_500italic")
      format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "museo_slab_500regular";
  src: url("../application/fonts/museo_slab_500-webfont.eot");
  src: url("../application/fonts/museo_slab_500-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../application/fonts/museo_slab_500-webfont.woff") format("woff"),
    url("../application/fonts/museo_slab_500-webfont.ttf") format("truetype"),
    url("../application/fonts/museo_slab_500-webfont.svg#museo_slab_500regular")
      format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "museo_slab_700regular";
  src: url("../application/fonts/museo_slab_700-webfont.eot");
  src: url("../application/fonts/museo_slab_700-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../application/fonts/museo_slab_700-webfont.woff") format("woff"),
    url("../application/fonts/museo_slab_700-webfont.ttf") format("truetype"),
    url("../application/fonts/museo_slab_700-webfont.svg#museo_slab_700regular")
      format("svg");
  font-weight: normal;
  font-style: normal;
}
.a11yOffScreen {
  position: absolute;
  overflow: hidden;
  top: -9999px;
  width: 1px;
  height: 1px;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.clearfix,
.nav,
.modal-footer {
  *zoom: 1;
}
.clearfix:before,
.nav:before,
.modal-footer:before {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after,
.nav:after,
.modal-footer:after {
  display: table;
  content: "";
  line-height: 0;
  clear: both;
}
.icon-spin {
  -moz-animation: spin 1.5s infinite linear;
  -o-animation: spin 1.5s infinite linear;
  -webkit-animation: spin 1.5s infinite linear;
  animation: spin 1.5s infinite linear;
}
button,
.button {
  font-family: "cabinsemibold";
  font-size: 15px;
  background: #000000;
  color: #ffffff;
  padding: 3px 25px;
  border: 1px solid #000000;
  -webkit-box-shadow: #2c2c2c 0 1px 1px -1px;
  -moz-box-shadow: #2c2c2c 0 1px 1px -1px;
  box-shadow: #2c2c2c 0 1px 1px -1px;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  vertical-align: middle;
  line-height: 20px;
}
button:hover,
.button:hover {
  background-color: #555555;
  color: #ffffff;
  text-decoration: none;
}
button:focus,
.button:focus,
button:active,
.button:active {
  background-color: #2c2c2c;
  color: #ffffff;
  text-decoration: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: #0189ff dotted 2px;
}
button.disabled,
.button.disabled,
button.disabled:hover,
.button.disabled:hover,
button.disabled:focus,
.button.disabled:focus,
button.disabled:active,
.button.disabled:active,
button:disabled,
.button:disabled,
button:disabled:hover,
.button:disabled:hover,
button:disabled:focus,
.button:disabled:focus,
button:disabled:active,
.button:disabled:active {
  background-color: #f3f3f3;
  color: #7b7b7b;
  border: 1px solid #7b7b7b;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  cursor: not-allowed;
  text-shadow: none;
  -moz-text-shadow: none;
  -webkit-text-shadow: none;
}
button [class*="-spinner"],
.button [class*="-spinner"] {
  display: none !important;
}
button.loading [class*="-spinner"],
.button.loading [class*="-spinner"] {
  display: inline-block !important;
  float: left;
  font-size: 23px;
  margin: 0 8px 0 -4px;
}
.button-bar {
  background: #dadada;
  display: table;
  width: 100%;
}
.button-bar.top {
  border-bottom: 1px solid #cfcfcf;
}
.button-bar.bottom {
  border-top: 1px solid #cfcfcf;
}
.button-bar .buttons {
  display: table-cell;
  height: 40px;
  vertical-align: middle;
  text-align: right;
  white-space: nowrap;
  padding: 0 10px 0 0;
}
.button-bar .buttons button,
.button-bar .buttons .button {
  margin: 0 0 0 5px;
}
.buttonGroup {
  margin: 20px 0 0 0;
}
.buttonGroup a.button {
  display: inline-block;
  margin: 0 0 0 20px;
  padding: 8px 30px;
  font-family: "cabinsemibold";
  font-size: 22px;
  color: #ffffff;
  border: hidden;
  text-decoration: none;
}
.buttonGroup a.button.link {
  padding: 0;
  background: none;
}
.buttonGroup.buttonSectionInfo {
  float: right;
}
@media only screen and (min-width: 320px) and (max-width: 540px) {
  .buttonGroup.buttonSectionInfo {
    float: left;
  }
}
form .step,
.form .step {
  background: #ffffff;
  margin: 0 0 40px 0;
  border-top: 8px solid #cfcfcf;
}
form .step .stepInner,
.form .step .stepInner {
  padding: 20px;
  border: 1px solid #cfcfcf;
}
form .step h3,
.form .step h3 {
  font-size: 20px;
}
form .step label,
.form .step label,
form .step .label,
.form .step .label {
  margin: 20px 0 0 0;
}
form .step.with-bottom-border,
.form .step.with-bottom-border {
  border-bottom: 8px solid #cfcfcf;
}
form #recaptcha_area,
.form #recaptcha_area {
  margin-top: 20px;
}
form #recaptcha_area #recaptcha_privacy,
.form #recaptcha_area #recaptcha_privacy {
  font-size: 12px;
}
label,
.label {
  display: block;
  font-family: "cabinsemibold";
  font-size: 16px;
  margin: 0;
  line-height: 1.231;
}
input[type="email"],
input[type="email"]:focus,
input[type="text"],
input[type="text"]:focus,
input[type="url"],
input[type="url"]:focus,
input[type="password"],
input[type="password"]:focus,
textarea,
textarea:focus {
  background: #ffffff;
  border: 1px solid #000000;
  font-family: "cabinregular", Arial, sans-serif;
  font-size: 14px;
  color: inherit;
  padding: 6px 10px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  height: auto;
}
input[type="email"]::-webkit-input-placeholder,
input[type="email"]:focus::-webkit-input-placeholder,
input[type="text"]::-webkit-input-placeholder,
input[type="text"]:focus::-webkit-input-placeholder,
input[type="url"]::-webkit-input-placeholder,
input[type="url"]:focus::-webkit-input-placeholder,
input[type="password"]::-webkit-input-placeholder,
input[type="password"]:focus::-webkit-input-placeholder,
textarea::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
  color: inherit;
}
input[type="email"]:-moz-placeholder,
input[type="email"]:focus:-moz-placeholder,
input[type="text"]:-moz-placeholder,
input[type="text"]:focus:-moz-placeholder,
input[type="url"]:-moz-placeholder,
input[type="url"]:focus:-moz-placeholder,
input[type="password"]:-moz-placeholder,
input[type="password"]:focus:-moz-placeholder,
textarea:-moz-placeholder,
textarea:focus:-moz-placeholder {
  color: inherit;
}
input[type="email"]:hover,
input[type="email"]:focus:hover,
input[type="text"]:hover,
input[type="text"]:focus:hover,
input[type="url"]:hover,
input[type="url"]:focus:hover,
input[type="password"]:hover,
input[type="password"]:focus:hover,
textarea:hover,
textarea:focus:hover,
input[type="email"]:focus,
input[type="email"]:focus:focus,
input[type="text"]:focus,
input[type="text"]:focus:focus,
input[type="url"]:focus,
input[type="url"]:focus:focus,
input[type="password"]:focus,
input[type="password"]:focus:focus,
textarea:focus,
textarea:focus:focus,
input[type="email"]:active,
input[type="email"]:focus:active,
input[type="text"]:active,
input[type="text"]:focus:active,
input[type="url"]:active,
input[type="url"]:focus:active,
input[type="password"]:active,
input[type="password"]:focus:active,
textarea:active,
textarea:focus:active {
  border: 1px solid #026ecb;
}
input[type="email"]::-webkit-input-placeholder,
input[type="email"]:focus::-webkit-input-placeholder,
input[type="text"]::-webkit-input-placeholder,
input[type="text"]:focus::-webkit-input-placeholder,
input[type="url"]::-webkit-input-placeholder,
input[type="url"]:focus::-webkit-input-placeholder,
input[type="password"]::-webkit-input-placeholder,
input[type="password"]:focus::-webkit-input-placeholder,
textarea::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
  color: #cfcfcf;
}
input[type="email"]::-moz-placeholder,
input[type="email"]:focus::-moz-placeholder,
input[type="text"]::-moz-placeholder,
input[type="text"]:focus::-moz-placeholder,
input[type="url"]::-moz-placeholder,
input[type="url"]:focus::-moz-placeholder,
input[type="password"]::-moz-placeholder,
input[type="password"]:focus::-moz-placeholder,
textarea::-moz-placeholder,
textarea:focus::-moz-placeholder {
  opacity: 1;
  color: #cfcfcf;
}
input[type="email"]:-moz-placeholder,
input[type="email"]:focus:-moz-placeholder,
input[type="text"]:-moz-placeholder,
input[type="text"]:focus:-moz-placeholder,
input[type="url"]:-moz-placeholder,
input[type="url"]:focus:-moz-placeholder,
input[type="password"]:-moz-placeholder,
input[type="password"]:focus:-moz-placeholder,
textarea:-moz-placeholder,
textarea:focus:-moz-placeholder {
  opacity: 1;
  color: #cfcfcf;
}
input[type="email"]:-ms-input-placeholder,
input[type="email"]:focus:-ms-input-placeholder,
input[type="text"]:-ms-input-placeholder,
input[type="text"]:focus:-ms-input-placeholder,
input[type="url"]:-ms-input-placeholder,
input[type="url"]:focus:-ms-input-placeholder,
input[type="password"]:-ms-input-placeholder,
input[type="password"]:focus:-ms-input-placeholder,
textarea:-ms-input-placeholder,
textarea:focus:-ms-input-placeholder {
  color: #cfcfcf;
}
input[type="email"].placeholder,
input[type="email"]:focus.placeholder,
input[type="text"].placeholder,
input[type="text"]:focus.placeholder,
input[type="url"].placeholder,
input[type="url"]:focus.placeholder,
input[type="password"].placeholder,
input[type="password"]:focus.placeholder,
textarea.placeholder,
textarea:focus.placeholder {
  color: #cfcfcf;
}
input[type="email"]:invalid,
input[type="email"]:invalid:focus,
input[type="text"]:invalid,
input[type="text"]:invalid:focus,
input[type="url"]:invalid,
input[type="url"]:invalid:focus,
input[type="password"]:invalid,
input[type="password"]:invalid:focus,
textarea:invalid,
textarea:invalid:focus {
  background: #ffffff;
  border: 1px solid #000000;
  font-family: "cabinregular", Arial, sans-serif;
  font-size: 14px;
  color: inherit;
  padding: 6px 10px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  height: auto;
}
input[type="email"]:invalid::-webkit-input-placeholder,
input[type="email"]:invalid:focus::-webkit-input-placeholder,
input[type="text"]:invalid::-webkit-input-placeholder,
input[type="text"]:invalid:focus::-webkit-input-placeholder,
input[type="url"]:invalid::-webkit-input-placeholder,
input[type="url"]:invalid:focus::-webkit-input-placeholder,
input[type="password"]:invalid::-webkit-input-placeholder,
input[type="password"]:invalid:focus::-webkit-input-placeholder,
textarea:invalid::-webkit-input-placeholder,
textarea:invalid:focus::-webkit-input-placeholder {
  color: inherit;
}
input[type="email"]:invalid:-moz-placeholder,
input[type="email"]:invalid:focus:-moz-placeholder,
input[type="text"]:invalid:-moz-placeholder,
input[type="text"]:invalid:focus:-moz-placeholder,
input[type="url"]:invalid:-moz-placeholder,
input[type="url"]:invalid:focus:-moz-placeholder,
input[type="password"]:invalid:-moz-placeholder,
input[type="password"]:invalid:focus:-moz-placeholder,
textarea:invalid:-moz-placeholder,
textarea:invalid:focus:-moz-placeholder {
  color: inherit;
}
input[type="email"]:invalid:hover,
input[type="email"]:invalid:focus:hover,
input[type="text"]:invalid:hover,
input[type="text"]:invalid:focus:hover,
input[type="url"]:invalid:hover,
input[type="url"]:invalid:focus:hover,
input[type="password"]:invalid:hover,
input[type="password"]:invalid:focus:hover,
textarea:invalid:hover,
textarea:invalid:focus:hover,
input[type="email"]:invalid:focus,
input[type="email"]:invalid:focus:focus,
input[type="text"]:invalid:focus,
input[type="text"]:invalid:focus:focus,
input[type="url"]:invalid:focus,
input[type="url"]:invalid:focus:focus,
input[type="password"]:invalid:focus,
input[type="password"]:invalid:focus:focus,
textarea:invalid:focus,
textarea:invalid:focus:focus,
input[type="email"]:invalid:active,
input[type="email"]:invalid:focus:active,
input[type="text"]:invalid:active,
input[type="text"]:invalid:focus:active,
input[type="url"]:invalid:active,
input[type="url"]:invalid:focus:active,
input[type="password"]:invalid:active,
input[type="password"]:invalid:focus:active,
textarea:invalid:active,
textarea:invalid:focus:active {
  border: 1px solid #026ecb;
}
.show-errors input[type="email"].ng-dirty.ng-invalid,
.show-errors input[type="email"]:focus.ng-dirty.ng-invalid,
.show-errors input[type="text"].ng-dirty.ng-invalid,
.show-errors input[type="text"]:focus.ng-dirty.ng-invalid,
.show-errors input[type="url"].ng-dirty.ng-invalid,
.show-errors input[type="url"]:focus.ng-dirty.ng-invalid,
.show-errors input[type="password"].ng-dirty.ng-invalid,
.show-errors input[type="password"]:focus.ng-dirty.ng-invalid,
.show-errors textarea.ng-dirty.ng-invalid,
.show-errors textarea:focus.ng-dirty.ng-invalid {
  background: #f3dede;
  border: 1px solid #9e0b0f;
  font-family: "cabinregular", Arial, sans-serif;
  font-size: 14px;
  color: #9e0b0f;
  padding: 6px 10px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  height: auto;
}
.show-errors input[type="email"].ng-dirty.ng-invalid::-webkit-input-placeholder,
.show-errors
  input[type="email"]:focus.ng-dirty.ng-invalid::-webkit-input-placeholder,
.show-errors input[type="text"].ng-dirty.ng-invalid::-webkit-input-placeholder,
.show-errors
  input[type="text"]:focus.ng-dirty.ng-invalid::-webkit-input-placeholder,
.show-errors input[type="url"].ng-dirty.ng-invalid::-webkit-input-placeholder,
.show-errors
  input[type="url"]:focus.ng-dirty.ng-invalid::-webkit-input-placeholder,
.show-errors
  input[type="password"].ng-dirty.ng-invalid::-webkit-input-placeholder,
.show-errors
  input[type="password"]:focus.ng-dirty.ng-invalid::-webkit-input-placeholder,
.show-errors textarea.ng-dirty.ng-invalid::-webkit-input-placeholder,
.show-errors textarea:focus.ng-dirty.ng-invalid::-webkit-input-placeholder {
  color: #9e0b0f;
}
.show-errors input[type="email"].ng-dirty.ng-invalid:-moz-placeholder,
.show-errors input[type="email"]:focus.ng-dirty.ng-invalid:-moz-placeholder,
.show-errors input[type="text"].ng-dirty.ng-invalid:-moz-placeholder,
.show-errors input[type="text"]:focus.ng-dirty.ng-invalid:-moz-placeholder,
.show-errors input[type="url"].ng-dirty.ng-invalid:-moz-placeholder,
.show-errors input[type="url"]:focus.ng-dirty.ng-invalid:-moz-placeholder,
.show-errors input[type="password"].ng-dirty.ng-invalid:-moz-placeholder,
.show-errors input[type="password"]:focus.ng-dirty.ng-invalid:-moz-placeholder,
.show-errors textarea.ng-dirty.ng-invalid:-moz-placeholder,
.show-errors textarea:focus.ng-dirty.ng-invalid:-moz-placeholder {
  color: #9e0b0f;
}
.show-errors input[type="email"].ng-dirty.ng-invalid:hover,
.show-errors input[type="email"]:focus.ng-dirty.ng-invalid:hover,
.show-errors input[type="text"].ng-dirty.ng-invalid:hover,
.show-errors input[type="text"]:focus.ng-dirty.ng-invalid:hover,
.show-errors input[type="url"].ng-dirty.ng-invalid:hover,
.show-errors input[type="url"]:focus.ng-dirty.ng-invalid:hover,
.show-errors input[type="password"].ng-dirty.ng-invalid:hover,
.show-errors input[type="password"]:focus.ng-dirty.ng-invalid:hover,
.show-errors textarea.ng-dirty.ng-invalid:hover,
.show-errors textarea:focus.ng-dirty.ng-invalid:hover,
.show-errors input[type="email"].ng-dirty.ng-invalid:focus,
.show-errors input[type="email"]:focus.ng-dirty.ng-invalid:focus,
.show-errors input[type="text"].ng-dirty.ng-invalid:focus,
.show-errors input[type="text"]:focus.ng-dirty.ng-invalid:focus,
.show-errors input[type="url"].ng-dirty.ng-invalid:focus,
.show-errors input[type="url"]:focus.ng-dirty.ng-invalid:focus,
.show-errors input[type="password"].ng-dirty.ng-invalid:focus,
.show-errors input[type="password"]:focus.ng-dirty.ng-invalid:focus,
.show-errors textarea.ng-dirty.ng-invalid:focus,
.show-errors textarea:focus.ng-dirty.ng-invalid:focus,
.show-errors input[type="email"].ng-dirty.ng-invalid:active,
.show-errors input[type="email"]:focus.ng-dirty.ng-invalid:active,
.show-errors input[type="text"].ng-dirty.ng-invalid:active,
.show-errors input[type="text"]:focus.ng-dirty.ng-invalid:active,
.show-errors input[type="url"].ng-dirty.ng-invalid:active,
.show-errors input[type="url"]:focus.ng-dirty.ng-invalid:active,
.show-errors input[type="password"].ng-dirty.ng-invalid:active,
.show-errors input[type="password"]:focus.ng-dirty.ng-invalid:active,
.show-errors textarea.ng-dirty.ng-invalid:active,
.show-errors textarea:focus.ng-dirty.ng-invalid:active {
  border: 1px solid null;
}
.show-errors input[type="email"]:invalid.ng-dirty.ng-invalid,
.show-errors input[type="email"]:focus:invalid.ng-dirty.ng-invalid,
.show-errors input[type="text"]:invalid.ng-dirty.ng-invalid,
.show-errors input[type="text"]:focus:invalid.ng-dirty.ng-invalid,
.show-errors input[type="url"]:invalid.ng-dirty.ng-invalid,
.show-errors input[type="url"]:focus:invalid.ng-dirty.ng-invalid,
.show-errors input[type="password"]:invalid.ng-dirty.ng-invalid,
.show-errors input[type="password"]:focus:invalid.ng-dirty.ng-invalid,
.show-errors textarea:invalid.ng-dirty.ng-invalid,
.show-errors textarea:focus:invalid.ng-dirty.ng-invalid {
  background: #f3dede;
  border: 1px solid #9e0b0f;
  font-family: "cabinregular", Arial, sans-serif;
  font-size: 14px;
  color: #9e0b0f;
  padding: 6px 10px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  height: auto;
}
.show-errors
  input[type="email"]:invalid.ng-dirty.ng-invalid::-webkit-input-placeholder,
.show-errors
  input[type="email"]:focus:invalid.ng-dirty.ng-invalid::-webkit-input-placeholder,
.show-errors
  input[type="text"]:invalid.ng-dirty.ng-invalid::-webkit-input-placeholder,
.show-errors
  input[type="text"]:focus:invalid.ng-dirty.ng-invalid::-webkit-input-placeholder,
.show-errors
  input[type="url"]:invalid.ng-dirty.ng-invalid::-webkit-input-placeholder,
.show-errors
  input[type="url"]:focus:invalid.ng-dirty.ng-invalid::-webkit-input-placeholder,
.show-errors
  input[type="password"]:invalid.ng-dirty.ng-invalid::-webkit-input-placeholder,
.show-errors
  input[type="password"]:focus:invalid.ng-dirty.ng-invalid::-webkit-input-placeholder,
.show-errors textarea:invalid.ng-dirty.ng-invalid::-webkit-input-placeholder,
.show-errors
  textarea:focus:invalid.ng-dirty.ng-invalid::-webkit-input-placeholder {
  color: #9e0b0f;
}
.show-errors input[type="email"]:invalid.ng-dirty.ng-invalid:-moz-placeholder,
.show-errors
  input[type="email"]:focus:invalid.ng-dirty.ng-invalid:-moz-placeholder,
.show-errors input[type="text"]:invalid.ng-dirty.ng-invalid:-moz-placeholder,
.show-errors
  input[type="text"]:focus:invalid.ng-dirty.ng-invalid:-moz-placeholder,
.show-errors input[type="url"]:invalid.ng-dirty.ng-invalid:-moz-placeholder,
.show-errors
  input[type="url"]:focus:invalid.ng-dirty.ng-invalid:-moz-placeholder,
.show-errors
  input[type="password"]:invalid.ng-dirty.ng-invalid:-moz-placeholder,
.show-errors
  input[type="password"]:focus:invalid.ng-dirty.ng-invalid:-moz-placeholder,
.show-errors textarea:invalid.ng-dirty.ng-invalid:-moz-placeholder,
.show-errors textarea:focus:invalid.ng-dirty.ng-invalid:-moz-placeholder {
  color: #9e0b0f;
}
.show-errors input[type="email"]:invalid.ng-dirty.ng-invalid:hover,
.show-errors input[type="email"]:focus:invalid.ng-dirty.ng-invalid:hover,
.show-errors input[type="text"]:invalid.ng-dirty.ng-invalid:hover,
.show-errors input[type="text"]:focus:invalid.ng-dirty.ng-invalid:hover,
.show-errors input[type="url"]:invalid.ng-dirty.ng-invalid:hover,
.show-errors input[type="url"]:focus:invalid.ng-dirty.ng-invalid:hover,
.show-errors input[type="password"]:invalid.ng-dirty.ng-invalid:hover,
.show-errors input[type="password"]:focus:invalid.ng-dirty.ng-invalid:hover,
.show-errors textarea:invalid.ng-dirty.ng-invalid:hover,
.show-errors textarea:focus:invalid.ng-dirty.ng-invalid:hover,
.show-errors input[type="email"]:invalid.ng-dirty.ng-invalid:focus,
.show-errors input[type="email"]:focus:invalid.ng-dirty.ng-invalid:focus,
.show-errors input[type="text"]:invalid.ng-dirty.ng-invalid:focus,
.show-errors input[type="text"]:focus:invalid.ng-dirty.ng-invalid:focus,
.show-errors input[type="url"]:invalid.ng-dirty.ng-invalid:focus,
.show-errors input[type="url"]:focus:invalid.ng-dirty.ng-invalid:focus,
.show-errors input[type="password"]:invalid.ng-dirty.ng-invalid:focus,
.show-errors input[type="password"]:focus:invalid.ng-dirty.ng-invalid:focus,
.show-errors textarea:invalid.ng-dirty.ng-invalid:focus,
.show-errors textarea:focus:invalid.ng-dirty.ng-invalid:focus,
.show-errors input[type="email"]:invalid.ng-dirty.ng-invalid:active,
.show-errors input[type="email"]:focus:invalid.ng-dirty.ng-invalid:active,
.show-errors input[type="text"]:invalid.ng-dirty.ng-invalid:active,
.show-errors input[type="text"]:focus:invalid.ng-dirty.ng-invalid:active,
.show-errors input[type="url"]:invalid.ng-dirty.ng-invalid:active,
.show-errors input[type="url"]:focus:invalid.ng-dirty.ng-invalid:active,
.show-errors input[type="password"]:invalid.ng-dirty.ng-invalid:active,
.show-errors input[type="password"]:focus:invalid.ng-dirty.ng-invalid:active,
.show-errors textarea:invalid.ng-dirty.ng-invalid:active,
.show-errors textarea:focus:invalid.ng-dirty.ng-invalid:active {
  border: 1px solid null;
}
ul {
  margin: 0 0 10px 20px;
}
ul.message-list {
  margin: 0;
  padding: 0;
  cursor: default;
  list-style-type: none;
  display: inline;
}
ul.message-list li {
  line-height: 20px;
  color: #9e0b0f;
  font-family: "cabinregular", Arial, sans-serif;
  vertical-align: middle;
}
ul.message-list li.error {
  color: #9e0b0f;
}
ul.message-list li.success {
  color: #008a00;
}
ul.message-list li span {
  vertical-align: middle;
  padding: 2px;
}
input[disabled] {
  background: #ffffff !important;
  color: #cfcfcf !important;
}
.formSelect {
  margin: 0;
  list-style: none;
  display: inline-block;
  background-color: #ffffff;
  *zoom: 1;
}
.formSelect a:hover {
  color: #000000 !important;
}
.formSelect .dropdown-toggle {
  display: table-cell;
  vertical-align: middle;
  font-family: "cabinregular", Arial, sans-serif;
  font-size: 14px;
  color: #000000;
  padding: 0 0 0 10px;
  border: 1px solid #000000;
}
.formSelect .dropdown-toggle .toggleBox {
  background-color: #000000;
  padding: 2px 7px;
  margin: 0 0 0 180px;
  border-left: 1px solid #000000;
  display: inline-block;
}
.formSelect .dropdown-toggle .toggleBox [class^="icon-"],
.formSelect .dropdown-toggle .toggleBox [class*="icon-"] {
  font-size: 20px;
  color: #ffffff;
}
.formSelect .dropdown-toggle:hover,
.formSelect .dropdown-toggle:focus,
.formSelect .dropdown-toggle:active {
  text-decoration: none;
  border: 1px solid #026ecb;
}
.formSelect .dropdown-toggle:hover .toggleBox {
  background-color: #555555;
}
.formSelect .dropdown-toggle:focus .toggleBox,
.formSelect .dropdown-toggle:active .toggleBox {
  background-color: #2c2c2c;
  outline: none;
}
.formSelect .dropdown-menu {
  min-width: 100%;
}
.formSelect .dropdown-menu.scrollable {
  overflow: auto;
  max-height: 200px;
  _height: 200px;
  height: auto !important;
}
.formSelect:before,
.formSelect:after {
  content: " ";
  display: table;
}
.formSelect:after {
  clear: both;
}
.formSelect:before {
  display: table;
  content: "";
  line-height: 0;
}
.formSelect:after {
  display: table;
  content: "";
  line-height: 0;
  clear: both;
}
html {
  height: 100%;
  -webkit-font-smoothing: antialiased;
}
body {
  height: 100%;
}
body.pre-login {
  background: #000000;
}
body.signup {
  background-color: #faf9f9;
}
a {
  text-decoration: none;
}
a:focus {
  outline: thin solid #0189ff;
}
a.link {
  text-decoration: underline;
}
ul {
  padding: 0;
}
h1,
h2 {
  margin: 0;
}
.pageWrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -40px;
}
.pageWrap .footerPush {
  height: 40px;
}
#sectionNav {
  width: 100%;
  border-bottom: 6px solid #000000;
  background: #ffffff;
}
#sectionNav #sectionNav-inner {
  width: 960px;
  margin: 0 auto;
  text-align: left;
  display: table;
}
#sectionNav #sectionNav-inner .name {
  margin: 18px 0;
}
#sectionNav #sectionNav-inner .name h1 {
  font-family: "museo_slab_500regular", Arial, sans-serif;
  font-size: 19px;
  line-height: 25px;
  margin: 0;
  white-space: nowrap;
}
#sectionNav #sectionNav-inner .name h1 [class^="icon-caret-"],
#sectionNav #sectionNav-inner .name h1 [class*="icon-caret-"] {
  margin-left: 5px;
}
#sectionNav.seamless {
  background: none;
  border-bottom: hidden;
}
.sectionBody {
  overflow: hidden;
  margin: 0px auto;
}
.sectionWrapper,
.supportWrapper {
  margin: 0 auto;
  overflow: hidden;
  width: 1000px;
}
.sectionTitle {
  font-family: "museo_slab_500regular", Arial, sans-serif;
  font-size: 19px;
  line-height: 25px;
  margin: 0;
  white-space: nowrap;
}
.pre-login #footerInner {
  width: 960px;
}
.pre-login .sectionWrapper {
  color: #ffffff;
}
.blurb {
  width: 685px;
}
.blurb .blurbTitle {
  font-family: "museo_slab_700regular", Arial, sans-serif;
  font-weight: normal;
  text-align: left;
  width: 640px;
  font-size: 42px;
  display: inline;
}
.blurb .blurbDescription {
  margin-top: 5px;
  font-family: "cabinregular", Arial, sans-serif;
  line-height: 1.25;
  color: #ffffff;
  font-size: 22px;
}
.blurb .blurbLink {
  font-family: "cabinsemibold";
  font-size: 22px;
}
.blurb .blurbLink a {
  color: #026ecb;
  text-decoration: underline;
}
.blurb .blurbLink a:hover {
  color: #0189ff;
  text-decoration: underline;
}
#infoSection {
  text-align: left;
  width: 1000px;
  margin: auto;
}
#infoSection .infoBox {
  font-family: "cabinsemibold";
  font-size: 16px;
  color: #ffffff;
  padding: 5px 12px 7px;
  margin-bottom: 3px;
  float: left;
  width: 309.33333333px;
}
#infoSection .infoBox a {
  color: #0189ff;
  text-decoration: none;
}
#infoSection .infoBox a:hover {
  text-decoration: underline;
}
#infoSection .infoBox .infoBoxTitle {
  font-family: "museo_slab_500regular", Arial, sans-serif;
  font-size: 22px;
  color: #ffffff;
  margin: 10px 0 10px 0;
}
#infoSection .infoBox .infoBoxTitle .icon {
  font-size: 26px;
  vertical-align: top;
}
#infoSection .infoBox:first-child {
  padding-left: 0;
}
#infoSection .infoBox:last-child {
  padding-right: 0;
}
#infoSection .infoBox:nth-child(2) {
  padding-right: 24px;
  padding-left: 24px;
}
@media only screen and (min-width: 980px) and (max-width: 1024px) {
  body {
    min-width: 1024px;
  }
}
@media only screen and (min-width: 0px) and (max-width: 979px) {
  body {
    min-width: 768px;
  }
  .pre-login #headerInner {
    width: 738px;
  }
  .pre-login #footerInner {
    width: 768px;
  }
  .pre-login.downPage #headerInner {
    width: 768px;
  }
  .sectionBody,
  #supportInfo {
    max-width: 768px;
  }
  .sectionWrapper {
    width: 768px;
  }
  .supportWrapper {
    width: 738px;
  }
  .blurb {
    width: 270px;
  }
  #infoSection {
    width: 504px;
  }
  #infoSection .infoBox {
    width: 144px;
  }
  .alert.closable {
    width: 668px !important;
    left: 58%;
  }
}
@media only screen and (min-width: 0px) and (max-width: 775px) {
  .pre-login #footerInner {
    width: 760px;
  }
}
#header {
  background-color: #000000;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
  -webkit-box-shadow: rgba(0, 0, 0, 0.9) 0 1px 1px 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.9) 0 1px 1px 0;
  box-shadow: rgba(0, 0, 0, 0.9) 0 1px 1px 0;
}
#header #headerInner {
  *zoom: 1;
  width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
#header #headerInner:before,
#header #headerInner:after {
  content: " ";
  display: table;
}
#header #headerInner:after {
  clear: both;
}
#header #headerInner:before {
  display: table;
  content: "";
  line-height: 0;
}
#header #headerInner:after {
  display: table;
  content: "";
  line-height: 0;
  clear: both;
}
#header #headerInner #productLogo {
  display: inline-block;
}
#header #headerInner #signIn {
  background: #555555;
}
#header #headerInner #signIn:hover {
  background: #555555;
}
#header #headerInner #register {
  background: #68a51a;
}
#header #headerInner #register:hover {
  background: #7fc624;
}
.homeContainer {
  display: flex;
  flex-direction: column;
}
.headerNavigation {
  padding-left: 10px;
  padding-right: 10px;
}
.bannerContainer {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #ffb81c;
  color: black;
  text-align: center;
  display: flex;
}
.bannerContainer .bannerAlert {
  align-self: center;
  flex-grow: 1;
}
.bannerContainer .loginResource {
  font-weight: bold;
  font-size: 0.9rem;
  color: #007fa3;
}
.bannerContainer .loginResource::after {
  font-family: "FontAwesome";
  margin-left: 5px;
  content: "\f105";
}
.bannerContainer .bannerCloseButton {
  align-self: end;
  padding: 3px 7px;
  margin-right: 10px;
  background-color: #555;
  color: #fff;
  cursor: pointer;
  opacity: 0.8;
  font-family: "verdana", san-serif;
  font-size: 11px;
  font-weight: bold;
  border: 1px solid #999;
  border-radius: 20px;
}
#headerImage {
  background-color: #2c2c2c;
  text-align: center;
}
#headerImage h1 {
  margin-top: 55px;
  margin-left: 15px;
  font-family: "museo_slab_700regular", Arial, sans-serif;
  font-size: 48px !important;
  color: #ffffff !important;
  text-shadow: 2px 2px 2px #2c2c2c;
  -moz-text-shadow: 2px 2px 2px #2c2c2c;
  -webkit-text-shadow: 2px 2px 2px #2c2c2c;
}
#headerImage img {
  display: block;
  margin: 0 auto;
}
#headerImage #headerImage-inner {
  position: relative;
  margin: 45px auto 0;
  text-align: left;
  height: 150px;
  overflow: hidden;
  background-position: top center;
  background-repeat: no-repeat;
}
#headerImage #headerImage-inner.privacy {
  background-image: url("../images/privacy_policy_img.jpg");
}
#headerImage #headerImage-inner.terms {
  background-image: url("../images/terms_of_use_img.jpg");
}
@media only screen and (min-width: 0px) and (max-width: 979px) {
  #header #headerInner {
    width: 768px;
  }
}
#footer {
  height: 40px;
  clear: both;
  text-align: center;
  background: #2c2c2c;
  font-family: "cabinsemibold";
  font-size: 12px;
  color: #cfcfcf;
}
#footer #footerInner {
  display: inline-block;
  width: 960px;
  margin-top: 13px;
}
#footer #footerInner a {
  color: #cfcfcf;
  text-decoration: underline;
}
#footer #footerInner a:hover {
  color: #0189ff;
}
#footer #footerInner #savvasLogo {
  background-image: url("../images/logo_savvas.png");
  background-repeat: no-repeat;
  width: 76px;
  height: 14px;
}
@media only screen and (min-resolution: 2dppx),
  only screen and (-webkit-min-device-pixel-ratio: 2) {
  #footer #footerInner #savvasLogo {
    background-image: url("../images/logo_savvas@2x.png");
    background-size: 76px 14px;
  }
}
@media only screen and (min-width: 0px) and (max-width: 979px) {
  #footer #footerInner {
    width: 738px;
  }
}
#home .bgPicture {
  background-color: #1b1b1b;
  background-position: 50% 0;
  background-repeat: no-repeat;
  height: 520px;
  background-size: auto 520px;
  width: 1000px;
}
#home .blurb {
  width: 515px;
  padding: 10px 0 0 0;
  top: 100px;
  margin: 30px 20px 0 0;
  text-align: center;
}
#home .blurb .blurbTitle {
  color: #ffffff;
  font-size: 44px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
#home .blurb .blurbDescription {
  font-size: 21px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
#home .blurb .buttonGroup #demoRegister {
  background: #026ecb;
}
#home .blurb .buttonGroup #demoRegister:hover {
  background: #0189ff;
}
#home .blurb .buttonGroup #demoSignIn {
  margin-top: 5px;
  text-decoration: underline;
  font-size: 20px;
}
#home .blurb .buttonGroup #demoSignIn:hover {
  text-decoration: none;
}
#home #infoSection {
  margin-top: -15px;
}
#home #infoSection .infoBox .infoBoxMessage.paddingBottom {
  padding-bottom: 8px;
}
@media only screen and (min-width: 0px) and (max-width: 979px) {
  #home .bgPicture {
    width: 768px;
  }
  #home .blurb {
    width: 388px;
    right: 0;
    margin: 20px 10px 0 0;
  }
  #home .blurb .blurbTitle {
    font-size: 32px;
  }
  #home .blurb .blurbDescription {
    text-align: center;
  }
  #home #infoSection {
    width: 768px;
  }
  #home #infoSection .infoBox {
    width: 100%;
    border-bottom: 1px solid;
    padding: 20px 30px 30px 0;
    text-align: center;
  }
  #home #infoSection .infoBox .infoBoxTitle,
  #home #infoSection .infoBox .infoBoxMessage {
    text-align: left;
  }
  #home #infoSection .infoBox:last-child {
    border-bottom: none;
  }
}
@media only screen and (min-width: 980px) and (max-width: 1024px) {
  #home .blurb {
    right: 55px;
  }
}
.signup #header {
  position: relative;
  height: 50px;
}
.signup #header #productLogo {
  margin-top: 15px;
  height: 24px;
  background-size: auto 24px;
}
.signup .sectionBody h1 {
  color: #026ecb;
}
.signup .sectionBody .step {
  border-color: #026ecb;
}
.signup .captchaContainer {
  margin-top: 15px;
}
.signup form input {
  width: 320px;
}
.signup form .popover-content {
  font-family: "cabinregular", Arial, sans-serif;
}
.signup form a[popover] {
  color: #000000;
}
.signup #confirmation,
.signup #activated {
  font-family: "cabinregular", Arial, sans-serif;
}
.signup #confirmation .info strong,
.signup #activated .info strong {
  display: block;
}
.signup .agreement-complete {
  color: #008a00;
  display: inline-block;
}
span#recaptcha_privacy {
  display: none;
}
.alert {
  position: fixed;
  left: 50%;
  width: 794px;
  margin: 10px 0 0 -400px;
  text-align: left;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  border: 3px solid #000000;
  background: #f3f3f3;
  padding: 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) -2px 2px 5px 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) -2px 2px 5px 0;
  box-shadow: rgba(0, 0, 0, 0.3) -2px 2px 5px 0;
  z-index: 990;
}
.alert .icon-container {
  display: table-cell;
  width: 70px;
  height: 60px;
  background-color: #cc333f;
  text-align: center;
  vertical-align: middle;
}
.alert .icon-container [class^="icon"],
.alert .icon-container [class*="icon"] {
  font-size: 40px;
  line-height: 37px;
  display: inline-block;
  width: 36px;
  height: 36px;
}
.alert .message-container {
  display: table-cell;
  height: 60px;
  font-size: 18px;
  line-height: 18px;
  vertical-align: middle;
  color: #000000;
  padding: 0 18px;
}
.alert .message-container strong {
  font-family: "cabinbold";
  font-weight: normal;
}
.alert .close {
  font-family: "cabinsemibold";
  font-size: 30px;
  font-weight: normal;
  text-decoration: none !important;
  color: #cfcfcf;
  opacity: 1;
  filter: alpha(opacity=100);
  display: none;
  position: absolute;
  right: 3px;
  top: 3px;
}
.alert .close:hover {
  color: #000000;
  opacity: 1;
  filter: alpha(opacity=100);
}
.alert .close [class^="icon"],
.alert .close [class*="icon"] {
  font-size: 16px;
  color: #000000;
  width: 13px;
  height: 13px;
  line-height: 13px;
  text-align: center;
  display: block;
}
.alert.closable {
  width: 774px;
  padding: 0 20px 0 0;
}
.alert.closable .close {
  display: block;
}
.demo-agreement-launch {
  text-decoration: underline;
  cursor: pointer;
  color: #026ecb;
  font-family: "cabinregular", Arial, sans-serif;
}
.demo-agreement-dialog .modal-dialog {
  width: 660px;
  margin-top: 14%;
  display: table;
  font-family: "museo_slab_500regular", Arial, sans-serif;
}
.demo-agreement-dialog .container {
  display: block;
  cursor: pointer;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
}
.demo-agreement-dialog .container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.demo-agreement-dialog .container .checkmark:after {
  left: 5px;
  top: 1px;
  width: 4px;
  height: 8px;
  border: solid #ffffff;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.demo-agreement-dialog .modal-header {
  background-color: #026ecb;
  color: #ffffff;
}
.demo-agreement-dialog .modal-header .modal-title {
  width: 97%;
  font-weight: bold;
  display: inline-block;
}
.demo-agreement-dialog .modal-header .close-button {
  color: #ffffff;
  font-size: 20px;
  float: right;
}
.demo-agreement-dialog .modal-body {
  overflow-y: scroll;
  width: auto;
  color: #000000;
  font-size: 14px;
  line-height: 19px;
  text-align: left;
  border: 1px solid #000000;
  border-top: none;
  max-height: 230px;
  padding: 0 20px;
}
.demo-agreement-dialog .modal-body .agreement-text-header {
  text-decoration: underline;
}
.demo-agreement-dialog .modal-body label {
  font-family: "museo_slab_500regular", Arial, sans-serif;
  font-size: 14px;
}
.demo-agreement-dialog .modal-body::-webkit-scrollbar {
  width: 4px;
}
.demo-agreement-dialog .modal-body::-webkit-scrollbar-thumb {
  background-color: #cfcfcf;
  border-radius: 1px;
  height: 130px;
}
.demo-agreement-dialog .modal-footer {
  height: 7%;
  padding: 12px 8px 13px;
  text-align: right;
  border-radius: 0px 0px 4px 4px;
  border: 1px solid #000000;
  border-top: none;
  margin-top: 0px;
  background-color: #f3f3f3;
}
.demo-agreement-dialog .modal-footer .btn {
  background-color: #f3f3f3;
  color: #000000;
}
.demo-agreement-dialog .modal-footer .btn:disabled {
  color: #7b7b7b;
  border-color: #7b7b7b;
}
.demo-agreement-dialog .modal-footer .btn-primary {
  color: #ffffff;
  background-color: #000000;
}
.demo-agreement-dialog .modal-footer .btn-primary:disabled {
  color: inherit;
  background-color: inherit;
}
.demo-agreement-dialog .modal-footer .btn-secondary {
  color: #000000;
  background-color: #ffffff;
}
.demo-agreement-dialog .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
  background-color: #ffffff;
  border: 1px solid #000000;
  border-radius: 3px;
}
.demo-agreement-dialog .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.demo-agreement-dialog input:checked ~ .checkmark {
  background-color: #000000;
}
.demo-agreement-dialog input:checked ~ .checkmark:after {
  display: block;
}
#legal {
  min-width: 1024px;
}
#legal #header {
  height: 45px;
  text-align: center;
}
#legal #header #headerInner {
  margin: 0 auto;
  text-align: left;
  width: 960px;
}
#legal #header #headerInner #productLogo {
  display: block;
  width: 137px;
  height: 45px;
  background-image: url("../images/realize_logo.png?v=1529606102398");
  background-repeat: no-repeat;
  background-position: 10px 11px;
}
#legal #headerImage-inner {
  width: 960px;
}
#legal .sectionBody {
  margin: 20px auto 0;
  padding: 0;
  width: 1024px;
}
#legal #content {
  text-align: left;
  font-family: "cabinregular", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.213;
  color: #000000;
}
#legal a {
  color: #026ecb;
  text-decoration: underline;
}
#legal a:hover {
  color: #026ecb;
  text-decoration: none;
}
#legal a:active {
  color: #0189ff;
  text-decoration: none;
}
#legal h1 {
  font-family: "museo_slab_700regular", Arial, sans-serif;
  font-weight: normal;
  font-size: 20px;
  color: #68a51a;
  padding-bottom: 15px;
}
#legal h2 {
  font-family: "museo_slab_700regular", Arial, sans-serif;
  font-weight: normal;
  font-size: 15px;
}
#legal strong {
  font-family: "cabinbold";
  font-weight: normal;
}
#legal #footerInner {
  width: 960px;
}
@media only screen and (min-resolution: 2dppx),
  only screen and (-webkit-min-device-pixel-ratio: 2) {
  #legal #header #headerInner #productLogo {
    background-image: url("../images/realize_logo@2x.png?v=1529606102398");
    background-repeat: no-repeat;
    background-position: 10px 11px;
    background-size: 91px 22px;
  }
  #legal #headerImage-inner {
    background-size: 960px 150px;
  }
  #legal #headerImage-inner.privacy {
    background-image: url("../images/privacy_policy_img@2x.jpg?v=1529606102398");
  }
  #legal #headerImage-inner.terms {
    background-image: url("../images/terms_of_use_img@2x.jpg?v=1529606102398");
  }
}
@media only screen and (min-width: 0px) and (max-width: 979px) {
  #legal #header #headerInner {
    width: 768px;
  }
  #legal #headerImage-inner {
    width: 768px;
  }
  #legal .sectionBody {
    width: 768px;
  }
  #legal #footerInner {
    width: 720px;
  }
}
.downPage #headerInner {
  width: 960px;
  text-align: center;
}
.downPage #supportInfo {
  overflow: hidden;
  margin: 0px auto;
}
.downPage .supportWrapper {
  font-family: "cabinregular", Arial, sans-serif;
  font-size: 19px;
  color: #ffffff;
}
.downPage .sectionWrapper {
  margin-top: 85px;
  padding-top: 115px;
}
.downPage .blurbTitle {
  font-size: 62px;
}
.downPage .blurbDescription {
  font-size: 30px;
}
@media only screen and (min-width: 0px) and (max-width: 979px) {
  .downPage #headerInner {
    width: 768px;
  }
}
#realize #productLogo {
  background-image: url("../images/logo_savvas_realize.png?v=1529606102398");
  background-repeat: no-repeat;
  width: 158px;
  height: 38px;
  margin-top: 20px;
}
#realize .sectionWrapper,
#realize .supportWrapper {
  margin: 35px auto;
}
#realize .bgPicture {
  background-image: url("../images/background_pearson_realize.jpg?v=1529606102398");
}
#realize.downPage #header {
  background: #68a51a;
}
#realize.downPage #header #productLogo {
  background-image: url("../images/realize_logo@2x.png?v=1529606102398");
  background-repeat: no-repeat;
  width: 191px;
  height: 49px;
  margin-top: 13px;
}
#realize.downPage .blurb {
  text-align: left;
}
#realize.downPage .blurb .blurbTitle {
  color: #68a51a;
  display: inline;
  font-size: 60px;
}
#realize.downPage .blurbHighlight {
  color: #68a51a;
}
@media only screen and (min-resolution: 2dppx),
  only screen and (-webkit-min-device-pixel-ratio: 2) {
  #realize #productLogo {
    background-image: url("../images/logo_savvas_realize@2x.png?v=1529606102398");
    background-size: 158px 38px;
  }
  #realize .bgPicture {
    background-image: url("../images/background_pearson_realize@2x.jpg?v=1529606102398");
  }
  #realize.downPage #productLogo {
    background-image: url("../images/logo_savvas_realize@2x.png?v=1529606102398");
    background-size: 191px 49px;
  }
}
